<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Sharp Remote</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" media="screen" href="{{ url_for('static', filename="mystyle.css" )}}"/>



</head>

<body>
{% block content %}
<h1>Hello</h1>
{% endblock %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js.js') }}"></script>

</body>


</html>